* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
html {
  overflow-x: hidden;
}
body {
  background-color: #fcf5eb;
  overflow-x: hidden;
}
nav > img {
  width: 130px;
}
.bars {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 30px;
  visibility: hidden;
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 30px;
}
nav > ul {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  list-style: none;
  font-size: 17px;
}
a > i {
  margin-left: 4px;
}
ul > li > a {
  text-decoration: none;
  color: black;
  position: relative;
}
nav > ul > li > a::before {
  content: "";
  border-bottom: 3px solid #25d366;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: left;
}
nav > ul > li > a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.main > img {
  z-index: 3;
}
.effect-btn {
  width: 170px;
  border-radius: 50px;
  height: 55px;
  font-size: 15px;
  background-color: #25d366;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: 1s ease;
}
.effect-btn::before {
  content: "";
  background-color: black;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  left: -14px;
  top: 100%;
  transition: 0.8s 0.1s ease;
  z-index: -1;
}
.effect-btn:hover::before {
  transform: translateY(-50%);
}
.effect-btn:hover {
  color: white;
  cursor: pointer;
}
.effect-btn > i {
  margin-left: 10px;
}
.main {
  padding-left: 50px;
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  overflow: hidden;
}
.main > img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 20px;
}
.right > img {
  width: 450px;
}
.right > div > img {
  width: 450px;
}
.left {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.right {
  width: 600px;
  position: relative;
  z-index: 2;
}
.left h1 {
  color: white;
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 15px;
}
.left p {
  color: white;
  font-size: 17px;
  line-height: 23px;
}

.first-msg {
  position: relative;
}
.last-msg {
  position: relative;
}
.heart {
  position: absolute;
  left: 0;
  top: 50%;
}
.sad {
  position: absolute;
  left: 0;
  top: 90%;
}

.good-mrng {
  animation: good-morning 0.8s ease forwards;
  opacity: 0;
}
.heart {
  animation: heart 1s 0.2s linear forwards;
  opacity: 0;
}
.cups {
  animation: cups 1s 1s ease forwards;
  opacity: 0;
}
.voice {
  animation: voice 0.8s 1.5s ease forwards;
  opacity: 0;
}
.happy {
  animation: happy 0.8s 2s ease forwards;
  opacity: 0;
}
.sad {
  animation: sad 0.8s 2.3s linear forwards;
  opacity: 0;
}
.trips {
  animation: trips 0.8s 3s ease forwards;
  opacity: 0;
}
@keyframes trips {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sad {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes happy {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes voice {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cups {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes good-morning {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.para-main {
  text-align: end;
  font-size: 13px;
  color: #5e5e5e;
  margin-top: 15px;
  margin-right: 30px;
}

.private-msg {
  padding: 100px;
}
.private-msg > img {
  width: 100%;
}
.private-msg-p {
  width: 950px;
  margin: 40px auto;
}
.center {
  font-size: 46px;
  text-align: center;
  font-weight: 540;
  line-height: 48px;
}
.container {
  margin: 15px;
  min-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 60px;
  gap: 100px;
}
.container-left {
  width: 500px;
}
.container-right {
  padding: 0 5%;
}
.container-left > h1 {
  font-size: 60px;
  font-weight: 450;
}
.container-left > p {
  padding: 25px 0;
  font-size: 19px;
}

.container-link {
  color: black;
  border-bottom: 3px solid #25d366;
  text-decoration: none;
}
.container-link:hover {
  color: #4ed366;
}
.encryption {
  background-color: #111b21;
  margin: 0px;
  color: white;
}
.encryption-link {
  color: white;
}
.white {
  color: white;
}
.green {
  color: #25d366;
}

.duo-img {
  position: relative;
}
.chat-img {
  position: relative;
  z-index: 1;
}
.group-img {
  position: absolute;
  z-index: 2;
  width: 350px;
  left: 15%;
  top: 15%;
}

footer {
  background-color: #111b21;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer-up {
  width: 1100px;
  min-height: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  gap: 50px;
}
.footer-down {
  width: 1100px;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  border-top: 1px solid rgb(47, 126, 47);
  padding-top: 10px;
}
.whatsApp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.whatsApp > img {
  width: 150px;
  color: white;
}
.small {
  color: grey;
}
.same-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 35px;
}
.same-box > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style-type: none;
  gap: 18px;
}
.same-box > ul > li > a {
  color: white;
  font-size: 18px;
}
.last-para {
  color: #ffffff;
  font-size: 12px;
}
.footer-btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 20px;
  border: 1px solid white;
  background-color: #1c1e21;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.footer-btn::before {
  content: "";
  width: 200%;
  height: 200%;
  border-radius: 100%;
  left: -40%;
  top: 100%;
  position: absolute;
  background-color: #25d366;
  transition: 0.8s 0.1s ease;
  z-index: -1;
}
.footer-btn:hover::before {
  transform: translateY(-60%);
}
.footer-btn > i {
  color: white;
}
.div-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}
.eng-btn {
  border: 2px solid white;
  color: white;
  background-color: #111b21;
  font-size: 18px;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  margin-left: 50px;
}
.eng-btn > i {
  margin-left: 40px;
}

.response-btn {
  width: 60px;
  border-radius: 100%;
  height: 60px;
  font-size: 15px;
  background-color: #25d366;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: 1s ease;
  position: absolute;
  top: 10px;
  right: 40px;
  display: none;
}
.response-btn::before {
  content: "";
  background-color: black;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  left: -14px;
  top: 100%;
  transition: 0.8s ease;
  z-index: -1;
}
.response-btn:hover::before {
  transform: translateY(-50%);
}
.response-btn:hover {
  color: white;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .bars {
    visibility: visible;
  }
  nav > ul {
    visibility: hidden;
  }
  nav > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .response-btn {
    display: block;
  }
  .effect-btn {
    display: none;
  }
  .private-msg-p {
    width: 800px;
    margin: 40px auto;
  }
  .center {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    line-height: 46px;
  }
}

@media (max-width: 1023px) {
  .voice,
  .happy,
  .sad,
  .trips {
    display: none;
  }
  .main {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 0px;
    align-items: flex-start;
  }
  .left h1 {
    color: white;
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .left p {
    color: white;
    font-size: 16px;
    line-height: 23px;
  }
  .private-msg > p {
    font-size: 1rem;
  }
  .private-msg-p {
    width: 80%;
    margin: 40px auto;
  }
  .center {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    line-height: 46px;
  }
}

@media (max-width: 768px) {
  .right {
    display: none;
  }
  nav {
    margin-bottom: 50px;
  }
  .main {
    position: relative;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .left {
    width: 90%;
    height: 100px;
    margin-bottom: 80px;
  }
  .main > img {
    height: 1200px;
    object-fit: cover;
  }
  .private-msg > img {
    width: 140vw;
  }
  .private-msg-p {
    width: 80%;
    margin: 40px auto;
  }
  .center {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    line-height: 40px;
  }
  .container {
    flex-wrap: wrap;
    padding: 50px 0px;
  }
  .container-left {
    width: 300px;
  }
  .container-left > h1 {
    font-size: 40px;
    font-weight: 400;
  }
  .container-left > p {
    padding: 25px 0;
    font-size: 15px;
  }
}

@media (max-width: 566px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1100px) {
  .footer-up,
  .footer-down {
    width: 95%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-up {
    margin: 30px 0;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-down {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }
  .div-btns {
    width: 100%;
    margin-top: 10px;
  }
  .eng-btn {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  footer {
    height: auto;
    padding: 30px 10px;
  }
  .footer-up,
  .footer-down {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .footer-up {
    margin: 20px 0;
    height: auto;
  }
  .footer-down {
    height: auto;
    padding-top: 15px;
  }
  .div-btns {
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
  }
  .eng-btn {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .footer-up,
  .footer-down {
    gap: 10px;
    padding: 0;
  }
  .footer-up {
    margin: 10px 0;
  }
  .footer-down {
    padding-top: 10px;
  }
  .same-box > ul > li > a,
  .last-para,
  .eng-btn {
    font-size: 15px;
  }
  .footer-btn {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
